.hero{
    height: 86vh;
    background: linear-gradient(135deg, #e7cf87 10%, #fff7e122 100%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    line-height: 1.1;
}

.p1{
    color: #171717;
    font-size: 120px;
    font-weight: 700;
    font-family: "Teko", sans-serif;
    padding-left: 80px;
}

.p2{
    color: #a9a1a1;
    font-size: 120px;
    font-weight: 700;
    font-family: "Teko", sans-serif;
}

a {
    text-decoration: none;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}

.hero-right{
    width: 60vw;
    height: 67vh;
    flex: 1;
    display:flex ;
    align-items:center;
    justify-content:baseline;
}

.hero-right img{
    height: 100%;
}

@media(max-width:1280px){
    .hero-left{
        padding-left:100px;
    }
    .hero-left p{
        font-size: 100px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        height: 76%;
    }
}

@media(max-width:1024px){
    .hero-left{
        padding-left:90px;
    }
    .hero-left p{
        font-size: 70px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
    .hero-right img{
        height: 58%;
    }
}

@media(max-width:800px){
    .hero{
        flex-direction: column-reverse;
    }
    .hero-left{
        justify-content: center;
        align-items: center;
        padding-left:0px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 200px;
        height: 50px;
        margin-top: 20px;
        font-size: 15px;
    }
    .hero-right{
        justify-content: center;
        align-items: center;
        margin: -50px;
        padding-left: 20%;
    }
    .hero-right img{
        height: 60%;
    }
}

@media(max-width:500px){
    .hero-left{
        padding-left:0px;
    }
    .hero-left p{
        font-size: 90px;
    }
    .hero{
        display: flex;
    }
    .hero-right{
        display: none;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 200px;
        height: 50px;
        margin-top: 20px;
        font-size: 15px;
        margin-left: 50px;
    }
}
